<h2>Type</h2>

<app-disabled *ngIf="vm.isEmpty">Waiting for selecting the group.</app-disabled>
<app-loading *ngIf="vm.isLoading"></app-loading>

<ng-template
 [ngIf]="!vm.isLoading && !vm.isEmpty"
>
  <select 
    (change)="handleTypeSelected(select.value)"
    #select
  >
    <option 
      [value]="null"
      *ngIf="!hasSelectedItem()"
    ></option>

    <option 
      *ngFor="let item of vm.items"
      [ngForTrackByField]="'id'"
      [value]="item.id"
      [selected]="item.isSelected"
    >{{item.label}}</option>
  </select>
</ng-template>
