ul {
  list-style: none;
  padding: 0;

  li {
    padding: 0.7em 0.3em;
    margin: 0.3em 0;
    border-radius: var(--radius);

    &:hover {
      background: var(--gray-light);
      cursor: pointer;
      transition: background 1.5s;
    }

    &[isSelected=true] {
      background: var(--gray-light);
    }
  }
}
