#container {
  display: grid;
  grid-gap: 2em;
  height: 70vh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 70% 1fr;
  grid-template-areas: 
    "lt rt"
    "lb rb"
  ;

  app-group-list {
    @extend .box;
    grid-area: lt;
  }

  app-category-list {
    @extend .box;
    grid-area: lb;
  }

  app-group-setting {
    @extend .box;
    grid-area: rt;
  }

  app-template-list {
    @extend .box;
    grid-area: rb;
  }
}

.box {
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: 4px 4px 10px var(--gray-deep);
  padding: 1em;
}

footer {
  margin-top: 2em;

  button {
    margin-bottom: 1.5em;

    border-radius: var(--radius);
    box-shadow: 4px 4px 10px var(--gray-deep);
    border: none;
    padding: 0.7em 1em;
    font-weight: 600;
    background: var(--primary);
    color: var(--white);

    &[disabled] {
      opacity: .5;
      cursor:not-allowed;
    }

    &:not([disabled]) {
      cursor: pointer;
    }

    &:not([disabled]):hover {
      background: var(--primary-deep);
      box-shadow: 4px 4px 10px var(--primary-deep);
      transition: box-shadow 1s, background 0.5s;
    }
  }
}
