<div id="container">
  <app-group-list 
    [vm]="vm.groupList"
    (onGroupSelected)="handleGroupSelected($event)"
  ></app-group-list>

  <app-category-list
    [vm]="vm.categoryList"
    (onCategorySelected)="handleCategoryListSelected($event)"
  ></app-category-list>

  <app-group-setting
    [vm]="vm.groupSetting"
    (onTypeSelected)="handleTypeSelected($event)"
    (onItemSelected)="handleItemSelected($event)"
  ></app-group-setting>
  
  <app-template-list
    [vm]="vm.templateList"
    (onTemplateSelected)="handleTemplateListSelected($event)"
  ></app-template-list>
</div>
