#container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 500px 1fr;
  grid-template-areas: 
    "lt rt"
    "lb rb"
  ;

  app-group-list {
    @extend .box;
    grid-area: lt;
  }

  app-category-list {
    @extend .box;
    grid-area: lb;
  }

  app-group-setting {
    @extend .box;
    grid-area: rt;
  }

  app-template-list {
    @extend .box;
    grid-area: rb;
  }
}

.box {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 4px 4px 10px var(--gray-deep);
  padding: 1rem;
}
