ul {
  padding-left: 1em;

  li {
    display: flex;
    gap: 0.3em;
    align-items: center;
    margin-top: 0.3em;

    .where {
      background: var(--error);
      border-radius: 3px;
      padding: 0.3em 0.5em;
      font-size: 0.85em;
      width: 5em;
      text-align: center;
    }

    .cause {
      font-weight: 600;
    }

    .message {
      &::before {
        content: '| ';
      }
    }
  }
}
